<ion-content>
    <div class="title">
        <img src="./assets/imgs/gear_transparent.png" (click)="gotoPlacesPage()"/>
        <span>Gear</span>
    </div>
    <div class="gear-table" *ngIf="values.measurement_groups.length > 0">
        <ion-scroll scrollY="true">
            <ion-grid>
            <ion-row class="header">
                <ion-col class="text-center" col-1>ID</ion-col>
                <ion-col class="text-center" col-2>Temp</ion-col>
                <ion-col class="text-center" col-2>Humi</ion-col>
                <ion-col class="text-center" col-2>ACC</ion-col>
                <ion-col class="text-center" col-5>Time</ion-col>
            </ion-row>
            <ion-row *ngFor="let item of values.measurement_groups; let i=index" [style.background-color]="i%2 == 0 ? '#cccccc' : 'white'" (click)="viewMapDetail(i)">
                <ion-col class="text-center" col-1>{{item.sensor_id}}</ion-col>
                <ion-col class="text-center" col-2>{{item.tmp}}</ion-col>
                <ion-col class="text-center" col-2>{{item.hum}}</ion-col>
                <ion-col class="text-center" col-2>{{item.acc}}</ion-col>
                <ion-col class="text-center" col-5>{{item.received}}</ion-col>
            </ion-row>
            </ion-grid>
        </ion-scroll>
    </div>
</ion-content>
    